**/PGDATA/

**/.github
**/.git
**/.gitignore

**/node_modules/

yarn.lock

**/.eslintignore
**/.eslintrc
**/.prettierignore
**/.prettierrc

**/Dockerfile
**/.dockerignore

**/README.md
**/Readme.md
**/LICENSE
**/.vscode

**/test/
**/.next/